#container {
  @extend %clear-after;
  width: 100%;
  min-width: 100%;
}

#content {
  $padding: 15px;
  width: 100%;
  padding-left: $backend-menu-width + $padding;
  padding-right: $padding;
}

.flashes {
  @include center;
  width: 90%;
}

.wrapper {
  @include center;
  width: 92%;
  margin-top: 30px;

  & > h1 { margin-bottom: 30px; }
}


a.new-item {
  @include button;
}
