#container {
  @extend %clear-after;
  width: 100%;
  min-width: 100%;
}

#content {
  $padding: 15px;
  width: 100%;
  padding-left: $backend-menu-width + $padding;
  padding-right: $padding;
}

.flashes {
  @include center;
  width: 90%;
}
