#site-header {
  // Variables.
  $header-height: 58px;
  $lateral-space: 20px;
  $profile-picture-radius: 36px;
  $icon-side: 27px;

  @mixin hoverable-element() {
    border-bottom: 1px solid $light-gray;
    &:hover a {
      background: $very-light-gray;
      color: $primary-color;
    }
  }

  border-bottom: 1px solid $light-gray;

  a {
    display: block;
  }

  .header-content {
    @include center;
    @include sides(100%);
    max-width: $max-width + $lateral-space;
  }

  // Clear after all the elements that contain floated elements.
  &, #site-menu, .user-menu {
    @extend %clear-after;
  }

  &, h1, #site-menu, #site-menu, .user-menu, .user-links ul {
    height: $header-height;
  }

  h1 {
    font-size: 24px;
    margin: 0;

    a {
      @include padding-horizontal($lateral-space / 2);
      padding-top: 11px;
      padding-bottom: 15px;
      height: 100%;
    }

    img { height: $header-height - 26px; }
  }

  h1, #site-menu, #site-menu li {
    float: left;
  }

  // Properties that all <li> elements in the header share.
  li {
    @include hoverable-element;

    float: left;
    height: 100%;

    a {
      @include sides(100%);
      color: $black;
    }
  }

  // Site menu on the left.
  #site-menu {
    ul { height: 100%; }
    li a { padding: 16px; }
  }

  // User menu on the right.
  .user-links ul {
    float: right;
    padding-right: $lateral-space / 2;

    a { height: 100%; }


    li.sign-in a, li.sign-up a {
      padding: 15px;
    }

    li.profile {
      a {
        @include padding-horizontal(11px);
        @include padding-vertical(($header-height - $profile-picture-radius) / 2);
      }

      .name { margin-left: 6px; }
      img { @include circle-image($profile-picture-radius); }
    }

    li.settings a , li.sign-out a {
      @include padding-vertical(($header-height - $icon-side) / 2);
      @include padding-horizontal(16px);
      img { @include sides(27px); }
    }
  }
}
