.users.sign_in, .users.sign_up {
  $width: 400px;

  .flashes {
    width: $width;
  }

  #container {
    @extend %page-wide;
    padding-top: 180px;
  }

  .form-container {
    @include center;
    width: $width;
    border: 1px solid $light-gray;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .form-container {
    padding: 30px 30px 0 30px;
  }

  input {
    width: 100%;
  }

  input[type=submit] {
    @include button();
    margin-top: 25px;
  }
}
