.ads.index, .ads.filter {
  form {
    .fields-row {
      @extend %clear-after;
      width: 100%;

      .field { @include column(45%); }

      label.checkbox {
        @include column(10%);
        margin-top: 26px;
      }
    }

    .range-slider { @include column(90%); }
    .slider-output {
      @include column(10%);
      padding-top: 14px;
      padding-left: 14px;
    }

    .clear-filters {
      @include button($bg: $warning-color);
    }

    .type {
      select { @include column(85%); }
      label {
        @include column(15%);
        margin-top: 10px;
      }
    }
  }
}
