.ads.index, .ads.filter {
  .ads-listing { @extend %clear-after; }

  article {
    display: block;
    width: 49%;
    height: 670px;
    background: $very-light-gray;
    float: left;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    &:nth-child(2n+1) { margin-right: 1%; }
    &:nth-child(2n) { margin-left: 1%; }

    .see-ad {
      @include absolute-at($top: 25px, $right: 20px);
      background: $primary-color;
      color: $white;
      padding: 5px;
    }

    img {
      max-height: 240px;
      max-width: 100%;
      display: block;
      @include center;
    }


    h2 { color: $primary-color; }
    .type { font-weight: 200; }

    .city-and-price {
      @extend %clear-after;
      .city, .price { @include column(50%); }
      .price { text-align: right; }
      .city {
        margin-top: 10px;
        font-style: italic;
      }
    }
  }

  form {
    .fields-row {
      @extend %clear-after;
      width: 100%;

      .field { @include column(45%); }

      label.checkbox {
        @include column(10%);
        margin-top: 26px;
      }
    }

    .range-slider { @include column(90%); }
    .slider-output {
      @include column(10%);
      padding-top: 14px;
      padding-left: 14px;
    }

    .clear-filters {
      @include button($bg: $warning-color);
    }

    .type {
      select { @include column(85%); }
      label {
        @include column(15%);
        margin-top: 10px;
      }
    }
  }
}

.ads.show {
  .single-ad {
    @include center;
    width: 80%;

    img {
      display: block;
      max-width: 100%;
      max-height: 700px;
    }

    .main-image {
      margin-bottom: 40px;
    }

    .images {
      h4 { margin-top: 30px; }
      img {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        max-height: 450px;
        max-width: 100%;
      }
    }

    .price-and-city {
      margin-bottom: 25px;
      .price, .city {
        display: inline-block;
        font-size: 300%;
        font-weight: 200;
      }

      .city {
        margin-left: 30px;
        float: right;
      }
    }
  }

  // The contact form.
  .contact {
    margin: 55px 0 40px;
    textarea { height: 200px; }
    input { width: 100%; }
  }
}
