.application.index {
  .latests {
    @extend %clear-after;
  }

  header.site-name-and-description {
    text-align: center;
    margin-bottom: 90px;

    img {
      height: 130px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

  article {
    $padding: 8px;
    $image-height: 250px;

    float: left;
    height: 425px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    width: percentage(1 / 3);

    &:hover { transform: scale(1.1); }

    &:nth-child(1) { padding-right: $padding; }
    &:nth-child(2) { padding-left: $padding; padding-right: $padding; }
    &:nth-child(3) { padding-left: $padding; }

    h1 { color: $primary-color; }

    h3 {
      color: $light-gray;
      font-size: 170%;
      font-weight: 200;
    }

    // The game/accessory name of the latest ad.
    h2 {
      font-size: 150%;
      font-weight: 200;
    }

    img {
      max-height: $image-height;
      width: 100%;
    }
  }
}
